.main-player, .main-playlist {
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  color : #fff;
}
.playlist-list {

}
.playlist-list   ul {
  list-style: none;
}